<section id="banner">

	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">

		<header>
			<h2>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="/assets/images/white-logo.png" alt="Shade Handmade"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</h2>
		</header>
		<p>
			{% include snippet.html name="slogan.md" %}
		</p>
		<footer>
			<ul class="buttons stacked">
				<li><a href="#main" class="button fit scrolly">Find out more about my creations</a></li>
			</ul>
		</footer>

	</div>

</section>
