<footer id="footer">

	<ul class="icons">
	  <!--
		<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
		<li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon brands circle fa-dribbble"><span class="label">Dribbble</span></a></li>
		-->

		<li><a href="{{ site.social.instagram }}" target="_new" class="icon brands circle fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="https://github.com/shadehandmade/shadehandmade.github.io" target="_new" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
		<li><a href="feed.xml" target="_new" class="icon circle fas fa-rss"><span class="label">Feed</span></a></li>
	</ul>

	<ul class="copyright">
		<li>&copy; Shade Handmade</li><li><a href="/attribution.html">Attributions</a></li>
	</ul>

</footer>
