<head>
  <!-- {{ site.environment }} -->
  <title>Shade Handmade</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:url" content="{{ site.og.url }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description | strip_newlines }}">
  <meta property="og:type" content="{{ site.og.type }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.og.image.url }}">
  <meta property="og:image:type" content="{{ site.og.image.type }}">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png">
</head>
